<footer class="footer">
    <div class="left">
        <h3>Shared Products</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum, magnam vel facilis sapiente magni velit officia molestias enim possimus ab. Alias, dolorum fuga laborum excepturi deleniti autem ut deserunt quam!</p>
    </div>
    <div class="center">
        <h3>Working Hours</h3>
        <p>Mon - Fri  9:00 - 18:00</p>
        <p>Sat - Sun  9:00 - 13:00</p>
    </div>
    <div class="right">
        <h3>Information</h3>
        <p><a href="/products">Products</a></p>
        <p><a href="/">About us</a></p>
        <p><a href="/">Contacts</a></p>

    </div>
</footer>