<div class="navbar-wrapper">
    <div class="navbar-container">
        <a class="navbar-logo" href="/">
            <div class="logo"></div>
            <h2>Shared Products</h2>
        </a>

        <ul class="navbar-list">

            {{#if isLoggedIn}}
            <li class="nav-item">
                <a class="nav-link" href="/products">Products</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/">Hello {{ userMail }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/user/logout">Logout</a>
            </li>
            {{else}}
            {{!-- <li class="nav-item">
                <a class="nav-link" href="/user/login">Login</a>
                <a class="nav-link" href="/user/register">Sign Up</a>

            </li> --}}
        
            {{/if}}
        </ul>
    </div>
</div>


{{#if message}}
{{> notifications }}
{{/if}}

