<div class="not-found-wrapper">
    <div class="container">
        <img style="display: block; margin: 0 auto; max-width: 800px; width: 400px; height: 400px"
            src="http://eurositexbg.com/images/404.png" />
        <h2 style="width: 100%; text-align: center; color: gray; font-size: 5em">NOT FOUND</h2>
        
    </div>
</div>
