<main>
    <div class="sectionOne">
        <div class="leftSide">
            <h1>Landing Page Heading Heading</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cumque quam odio necessitatibus numquam natus, beatae praesentium consequatur porro deleniti iusto earum tenetur commodi doloribus, maiores harum nihil itaque distinctio minus? Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam ipsa autem quisquam eum repellat mollitia, provident sint molestiae possimus excepturi voluptatem reiciendis consectetur fugit tenetur dignissimos assumenda sed, neque id!</p>
            <div class="buttons">
                <a class="login-btn" href="/user/login">Login</a>
                <span>or</span>
                <a class="login-btn" href="/user/register">Sign Up</a>
            </div>

        </div>
        <div class="rightSide">
            <div class="sectionOne-image"></div>
        </div>
    </div>
    <div class="sectionTwo">

    </div>
    <div class="sectionThree">

    </div>
</main>

