<div class="login-wrapper">
    <div class="login-circle">
        <div class="login-icon"></div>
    </div>
    <form action="/user/register" method="POST">
        <h1 style="margin: 2%; text-align: center; padding-top: 1em">Sign Up</h1>
        <div class="form-group">
            <input type="email" required class="form-control" id="email" aria-describedby="emailHelp"
                placeholder="Email" name="email">
        </div>
        <div class="form-group">
            <input type="password" required class="form-control" id="password" placeholder="Password" name="password">
        </div>
        <div class="form-group">
            <input type="password" required class="form-control" id="rePassword" placeholder="Repeat Password" name="rePassword">
        </div>
        <div class="form-group">
            <p>Already have account? <a href="/user/login">Login Now!</a></p>
        </div>
        <button type="submit" class="submit-btn">Submit</button>
    </form>
</div>