<h1 class="products-heading">Products page</h1>
<div class="products-wrapper">
    <div class="filters">
        FILTERS HERE
    </div>
    <div class="list-products">
        {{#each products}}
            <div class="product-wrapper">
                <div class="product-header">{{name}}</div>
            </div>
        {{/each}}
    </div>
</div>